{% extends "common.html" %}
{% block content %}
{% load custom_tags %}
<script type="text/javascript" src="/static/bower_components/simplemde/debug/simplemde.js"></script>
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML"> </script>
<style>
#second {
    width: 100%;
    display: contents;
    height: max-content;
    text-align: -webkit-center !important;
}

#viewcontent {
    max-width: 1024px;
    margin: auto;
    margin-top: .75in;
    margin-bottom: 1.5in;
    text-align: left;
}
</style>
<div id='editdiv' class="btn-group" style="float:right; display: none;">
    <input name="viewid"  id="viewid"   hidden >
    <span  class="btn-group" style=" min-width: 100px;" >
        <button class="btn btn-secondary btn-sm" type="button" onclick="edit()">
            {{  user.username }} : Edit
        </button>
    </span>
</div>

<div id="second" style="height: 100vh; overflow: auto;"  >
    <div id="viewcontent"></div>
</div>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    SCRIPTS
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<script>
simplemde = new SimpleMDE({element: null });
function md2html(val, ext, div){
    var html  = simplemde.markdown(val);
    if ( div ) {
        $(div).html(html)
        geoui_setupMATHJAX(div.substring(1))
    }
    return html
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
function edit(viewid){
    var v = $('#viewid').val()
    var edit= `${window.location.origin.split('?')[0]}/blogs/secured/edit_article.html/?viewid=${v}`
    window.open(edit, "EDIT")
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
function viewCB(responseTxt, statusTxt, xhr, ctx, form){
    if (JS_error(responseTxt, statusTxt, xhr, true) ) {
        return;
    }

    $('#viewid').val(ctx.viewid) 
    var val = responseTxt;
    var ret = {}
    if (responseTxt.trim().startsWith("{")) {
        ret = JSON.parse(responseTxt);
        val = ret.content
    }

    md2html(val, $('#edit').val(), '#viewcontent' )
    saveZZValues()
    //setTimeout(geoui_scrollTo, 50);

    var is_super = "{{ user.is_superuser }}" == "True" ? 1 : 0
    var author   = (ret.meta) ? ret.meta.user : ""
    var user     = "{{ user.username }}"

    var can_edit = (is_super || (author && author == user)) ? 1 : 0

    //console.log( "=========>", is_super, author, user, can_edit )
    if ( can_edit)
        $('#editdiv').show()

}
function view(viewid){
    const ctx = { viewid: viewid}
    callws('/blogs/getarticle/', "", viewCB, ctx )
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
$(document).ready(function() {
    var urlp   = new URL(window.location.href)
    var viewid =  urlp.searchParams.get('viewid')  || urlp.searchParams.get('file') || ""
    restoreZZValues()
    if (viewid)
        view(viewid)
})
</script>
{% endblock %}
